[submodule "pack/plugins/start/nerdtree"]
	path = pack/plugins/start/nerdtree
	url = git@github.com:preservim/nerdtree.git
[submodule "pack/plugins/start/nerdtree-git-plugin"]
	path = pack/plugins/start/nerdtree-git-plugin
	url = git@github.com:Xuyuanp/nerdtree-git-plugin.git
[submodule "pack/plugins/start/ale"]
	path = pack/plugins/start/ale
	url = git@github.com:dense-analysis/ale.git
[submodule "pack/plugins/start/vim-go"]
	path = pack/plugins/start/vim-go
	url = git@github.com:fatih/vim-go.git
[submodule "pack/plugins/start/vim-ruby"]
	path = pack/plugins/start/vim-ruby
	url = git@github.com:vim-ruby/vim-ruby.git
[submodule "pack/plugins/start/vim-rails"]
	path = pack/plugins/start/vim-rails
	url = git@github.com:tpope/vim-rails.git
[submodule "pack/plugins/start/rust.vim"]
	path = pack/plugins/start/rust.vim
	url = git@github.com:rust-lang/rust.vim.git
[submodule "pack/plugins/start/syntastic"]
	path = pack/plugins/start/syntastic
	url = git@github.com:vim-syntastic/syntastic.git
[submodule "pack/plugins/start/ctrlp.vim"]
	path = pack/plugins/start/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim
[submodule "pack/plugins/start/vim-devicons"]
	path = pack/plugins/start/vim-devicons
	url = git@github.com:ryanoasis/vim-devicons.git
